# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [12]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# Loading CSV into a dataframe
output_data = pd.read_csv("../output_data/cities.csv")
output_data.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,ostrovnoy,2,RU,1558378754,72,68.05,39.51,37.50,7.16
1,1,mahebourg,75,MU,1558378503,74,-20.41,57.70,78.80,11.41
2,2,qaanaaq,25,GL,1558378755,73,77.48,-69.36,22.20,2.37
3,3,zhuhai,0,CN,1558378755,39,40.71,112.04,44.60,4.47
4,4,cape town,20,ZA,1558378755,76,-33.93,18.42,55.99,8.05

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [13]:
# Configuring API key and gmaps
gmaps.configure(api_keys=g_key)

TypeError: configure() got an unexpected keyword argument 'api_keys'

In [14]:
# Using the Lat and Lng as locations
locations_df = output_data[['Lat','Lng']]
locations_df

       Lat     Lng
0    68.05   39.51
1   -20.41   57.70
2    77.48  -69.36
3    40.71  112.04
4   -33.93   18.42
..     ...     ...
543  33.97   36.66
544  24.01 -104.61
545  49.65    0.71
546  51.07  132.56
547  27.72  109.18

[548 rows x 2 columns]

In [15]:
# Getting Humidity as the weight
humidity = output_data['Humidity'].astype(float)
humidity

0      72.0
1      74.0
2      73.0
3      39.0
4      76.0
       ...
543    32.0
544     4.0
545    62.0
546    93.0
547    64.0
Name: Humidity, Length: 548, dtype: float64

In [7]:
# Adding Heatmap layer to map
fig = gmaps.figure()
heatmap = gmaps.heatmap_layer(locations_df,weights=humidity)
fig.add_layer(heatmap)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [8]:
# Dropping null values in dataframe
output_data_clean = output_data.dropna()
output_data_clean.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,ostrovnoy,2,RU,1558378754,72,68.05,39.51,37.50,7.16
1,1,mahebourg,75,MU,1558378503,74,-20.41,57.70,78.80,11.41
2,2,qaanaaq,25,GL,1558378755,73,77.48,-69.36,22.20,2.37
3,3,zhuhai,0,CN,1558378755,39,40.71,112.04,44.60,4.47
4,4,cape town,20,ZA,1558378755,76,-33.93,18.42,55.99,8.05

In [9]:
# Narrowing down cities and fitting ideal weather conditions
conditions_df = output_data_clean.loc[(output_data_clean['Max Temp'] < 80) & (output_data_clean['Max Temp'] > 70) & (output_data_clean['Wind Speed'] < 10) & (output_data_clean['Cloudiness'] == 0)]
conditions_df

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
70,70,ponta do sol,0,BR,1558378767,57,-20.63,-46.00,73.68,5.32
88,88,cidreira,0,BR,1558378770,66,-30.17,-50.22,76.56,5.50
138,138,morondava,0,MG,1558378780,69,-20.30,44.28,79.08,9.06
139,139,vaini,0,IN,1558378780,88,15.34,74.49,78.90,1.59
176,176,nador,0,MA,1558378499,40,35.17,-2.93,75.20,6.93
297,297,mogok,0,MM,1558378844,51,22.92,96.51,72.24,2.77
444,444,birjand,0,IR,1558378880,26,32.86,59.22,71.60,9.17

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [11]:
hotel_df = pd.DataFrame(conditions_df,columns=['City_ID','City','Cloudiness','Country','Date','Humidity','Lat','Lng','Max Temp','Wind Speed','Hotel Name'])
hotel_df

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
70,70,ponta do sol,0,BR,1558378767,57,-20.63,-46.00,73.68,5.32,NaN
88,88,cidreira,0,BR,1558378770,66,-30.17,-50.22,76.56,5.50,NaN
138,138,morondava,0,MG,1558378780,69,-20.30,44.28,79.08,9.06,NaN
139,139,vaini,0,IN,1558378780,88,15.34,74.49,78.90,1.59,NaN
176,176,nador,0,MA,1558378499,40,35.17,-2.93,75.20,6.93,NaN
297,297,mogok,0,MM,1558378844,51,22.92,96.51,72.24,2.77,NaN
444,444,birjand,0,IR,1558378880,26,32.86,59.22,71.60,9.17,NaN

In [ ]:
# Initialising parameters
target_search = "hotel"
target_radius = 5000
target_type = "hotel"

params = {
    "keyword":target_search,
    "radius":target_radius,
    "type":target_type,
    "key":gkey    
}

# Looping through dataframe

for index, row in hotel_df.iterrows():
    url = 'http://maps.googleapis.com/maps/api/place/nearbysearch/json'
    
    lat = row['Lat']
    lng = row['Lng']
    
    # Updating location key value
    params['location'] = f'{lat},{lng}'
    
    # Making a request and printing url
    response = requests.get(url, params=params).json()
    pprint(response)
    
    # Exception handling
    try:
        hotel_df.loc[index,"Hotel Name"] = response['results'][0]['name']
    except:
        print('Missing field/result... skipping.')

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_df)
fig.add_layer(markers)

# Display figure
fig